*.stash
*.r.Debug
*import.cpp
*.Debug
*.Release
*.o
Makefile
moc_*.cpp
client/build-r-CROSS_COMPILE_Desktop_Qt_5_12_4_MinGW_32_bit_crosscompile-Release/release/qrc_picture.cpp
*.0-pre1
*.10-pre1
*.user
*.user.*
*.autosave
moc_*.h
*.txt
build-service-2-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/service-2_resource.rc
*.exe
build**/*
*/debug
*/build*
*.pro.*
.qtc*
